@import "../styles.scss";

#mainPage {
    font-weight: bold;
}

#menuItem {
    padding-left: 2em;
    padding-right: 2em; 
}

.nav-item {
    outline: 0;
    border: none;
}

.spacer {
    margin-top: 3.65em;
}