<div>
<!--Navbar-->
  <mdb-navbar class="navbar justify-content navbar-expand navbar-dark indigo">

    <!-- <div class='menuItems'> -->
    <!-- Navbar brand -->
    <!-- <mdb-navbar-brand><a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a></mdb-navbar-brand> -->

    <!-- Collapsible content -->
        <!-- Links -->
    <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" >
            <a class="nav-link waves-light" mdbWavesEffect id='menuItem' routerLink="/home" routerLinkActive="active" ><span id='mainPage'>Home</span></a>
          </li>
          <li class="nav-item" >
              <a class="nav-link waves-light" mdbWavesEffect id='menuItem' routerLink="/about" routerLinkActive="active">About Me</a>
          </li>
          <li class="nav-item" >
              <a class="nav-link waves-light" mdbWavesEffect id='menuItem' routerLink="/projects" routerLinkActive="active">Projects</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link waves-light" mdbWavesEffect id='menuItem' routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </li>
      </ul>
    </links>
  <!-- </div> -->
  </mdb-navbar>
</div>
<router-outlet></router-outlet>
